<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.waimai.mapper.AddressMapper" >

    <sql id="address">
        address_id,
        address_lianxi,
        address_phone,
        address_name,
        user_id,
        address_create_time
    </sql>
    <sql id="all">
         a.address_id,
        a.address_lianxi,
        a.address_phone,
        a.address_name,
        a.user_id,
        a.address_create_time
        u.userid,
        u.username,
        u.userpassword,
        u.userregistertime,
        u.userphone,
        u.useremail,
        u.userheadurl
    </sql>

    <resultMap id="address" type="com.bobo.waimai.pojo.Address">
        <id column="address_id" property="addressId" javaType="java.lang.Integer"></id>
        <result column="address_lianxi" property="addressLianxi" javaType="java.lang.String"></result>
        <result column="address_phone" property="addressPhone" javaType="java.lang.String"></result>
        <result column="address_name" property="addressName" javaType="java.lang.String"></result>
        <result column="user_id" property="userId" javaType="java.lang.Integer"></result>
        <result column="address_create_time" property="addressCreateTime" javaType="java.util.Date"></result>
    </resultMap>
    <resultMap id="addressEntity" type="com.bobo.waimai.pojo.Address">
        <id column="address_id" property="addressId" javaType="java.lang.Integer"></id>
        <result column="address_lianxi" property="addressLianxi" javaType="java.lang.String"></result>
        <result column="address_phone" property="addressPhone" javaType="java.lang.String"></result>
        <result column="address_name" property="addressName" javaType="java.lang.String"></result>
        <result column="user_id" property="userId" javaType="java.lang.Integer"></result>
        <result column="address_create_time" property="addressCreateTime" javaType="java.util.Date"></result>
        <association column="user_id" property="user" javaType="com.bobo.waimai.pojo.User">
            <id property="userId" javaType="java.lang.Integer" column="userid"></id>
            <result column="username" javaType="java.lang.String" property="userName"></result>
            <result column="userpassword" javaType="java.lang.String" property="userPassword"></result>
            <result column="userregistertime" javaType="java.util.Date" property="userRegisterTime"></result>
            <result column="userphone" javaType="java.lang.String" property="userPhone"></result>
            <result column="useremail" javaType="java.lang.String" property="userEmail"></result>
            <result column="userheadurl" javaType="java.lang.String" property="userHeadUrl"></result>
        </association>
    </resultMap>

    <select id="getAddressesByUserId" resultMap="address">
        select <include refid="address"/>
        from address where user_id=#{userId}
    </select>

    <insert id="addAddress" parameterType="com.bobo.waimai.pojo.Address">
        insert into address(address_lianxi, address_phone, address_name, user_id, address_create_time)
        values(#{addressLianxi},#{addressPhone},#{addressName},#{userId},#{addressCreateTime})
    </insert>

    <select id="getAddressesByAddressId" resultMap="addressEntity">
        select <include refid="address"/>
        from address where address_id=#{addressId}
    </select>

    <select id="countAll" resultType="java.lang.Long">
        select count(1) from address where user_id=#{userId}
    </select>

    <select id="getAddresses" resultMap="address">
        select <include refid="address"/> from address where user_id=#{userId} limit #{offset},#{limit}
    </select>

    <delete id="deleteAddress" parameterType="java.lang.Integer">
        delete from address where address_id=#{addressId}
    </delete>
</mapper>