<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bobo.waimai.mapper.CaritemMapper" >
    <sql id="all">
         caritem_id,
        caritem_create_time,
        caritem_number,
        user_id,
        food_id,
        caritem_brought
    </sql>
    <resultMap id="caritem" type="com.bobo.waimai.pojo.CarItem">
        <id property="caritemId" column="caritem_id" javaType="java.lang.Integer"></id>
        <result column="caritem_create_time" property="caritemCreateTime" javaType="java.util.Date" ></result>
        <result column="caritem_number" property="caritemNumber" javaType="java.lang.Integer" ></result>
        <result column="user_id" property="userId" javaType="java.lang.Integer" ></result>
        <result column="food_id" property="foodId" javaType="java.lang.Integer" ></result>
        <result column="caritem_brought" property="caritemBrought" javaType="java.lang.Integer" ></result>

    </resultMap>
</mapper>